.header-contact-parent {
  background-color: rgba(0, 0, 0, 0.95);
  color: rgba(242, 239, 239, 0.708);
  /* opacity: 0.5; */
}

.header-contact {
  /* height: 60px; */
  /* line-height: 40px; */
  display: flex;
  justify-content: space-between;
  text-shadow: 1px 1px 2px black;
}

.header-weather-lang {
  line-height: 2.5rem;
  font-size: 0.8rem;
  font-style: italic;
  /* border: 1px solid green; */
}
.header-weather-lang span {
  margin: 0 0.5rem;
  word-spacing:  .1rem;
  display: inline-block;
  /* border: 1px solid green; */
}

.header-weather-lang span:nth-last-child(1) {
  font-style: normal;
}

.social-conatct-icons {
  width: 6rem;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
}

.social-conatct-icons i {
  cursor: pointer;
  line-height: 2.5rem;
  font-size: 15px;
}

.social-conatct-icons i:hover {
  color: rgb(255, 255, 255);
}

.social-conatct-icons i:nth-child(1) {
  animation: icon-animate 0.5s 1 2s;
}

.social-conatct-icons i:nth-child(2) {
  animation: icon-animate 0.5s 1 2.5s;
}

.social-conatct-icons i:nth-child(3) {
  animation: icon-animate 0.5s 1 3s;
}

.social-conatct-icons i:nth-child(4) {
  animation: icon-animate 0.5s 1 3.5s;
}

.social-conatct-icons i:nth-child(5) {
  animation: icon-animate 0.5s 1 4s;
}

.social-conatct-icons i:nth-child(6) {
  animation: icon-animate 0.5s 1 4.5s;
}
@keyframes icon-animate {
  0% {
    color: #000;
    transform: scale(2.5);
    opacity: 0;
  }
  100% {
    color: rgb(249, 249, 249);
    transform: scale(1);
  }
}
.languages-btns a {
  color: rgba(242, 239, 239, 0.708) !important;
  transition: color 0.3s;
  margin: 0 7px;
}

.languages-btns a:hover {
  color: #fff !important;
}
 