* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-style {
  background-color: #fff !important;
  height: 4rem;
  /* border: 1px solid black; */
  /* overflow: hidden; */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.181);
}
.navbar-style a {
  color: #0f3466 !important;
  /* transition:  .1s; */
}

/* .navbar-style a:focus{
 color: #0f3466;
 font-weight: bold;
 font-size: 18px;
 text-decoration-line: underline !important;
} */
.navbar-logo {
  height: 4rem;
  width: 8rem;
  margin-left: 2rem;
  overflow: hidden;
  /* border: 1px solid black; */
}

.navbar-logo img {
  width: 100%;
  height: 4rem;
  margin-top: -.5rem;
  /* border: 1px solid black; */
}

nav {
  text-transform: capitalize;
}

.nav-btn-search:hover {
  color: #fff !important;
}
