.contact-section {
  margin: auto !important;
  /* display: flex;
  justify-content: center; */
  /* border: 1px solid red; */
}
.contact-parent {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 30px 55px;
  border-radius: 10px;
  background-color: #fff;
  font-size: 15px;
}

.contact-parent .contact-fullname {
  display: flex;
  justify-content: space-between;
}

.contact-parent .form-control {
  padding: 10px 15px;
  outline: none !important;
  box-shadow: none !important;
}

.contact-parent .form-control:focus {
  border: 1px solid #0d6efd ;
}

.contact-parent button {
  width: 200px;
  padding: 10px 0;
  background-color: #0d6efd;
  color: #fff;
}
.contact-parent button:hover {
  color: #fff !important;
  background-color: #2e82ff !important;
}
.contact-parent-right {
  margin: 20px 0;
  margin-right: auto;
}

.contact-parent-right i{
    color: #0d6dfdbe;
}

.contact-info,
.contact-more-info {
  width: auto;
  min-width: 350px;
  /* margin-left: -40px; */
  padding: 23px 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.contact-info div {
  margin-bottom: 25px;
}

.contact-info h3 {
  font-size: 20px;
  font-weight: bolder;
  text-transform: capitalize;
  /* color: orangered; */
}

.contact-info span {
  font-size: 15px;
  color: rgb(74, 73, 73);
  /* background-color: black; */
}

.contact-info .contact-phone a {
    color: rgb(74, 73, 73) !important;
}

.contact-info .contact-phone a:nth-child(1) {
  margin-right: 20px;
}

.contact-info a:hover {
  color: #0d6efd !important;
  text-decoration: underline !important;
}
.contact-email {
    color: gray !important;
}
.contact-more-info {
  margin-top: 15px;
}

.contact-more-info h3 {
  font-size: 20px;
  font-weight: bolder;
  text-transform: capitalize;
  /* color: orangered; */
}

.contact-more-info p {
  color: gray;
  font-size: 15px;
}
.contact-more-info button {
  background-color: #0d6efd !important;
}
.contact-more-info button:hover {
  color: #fff !important;
  background-color: #2e82ff !important;
}
