.create-box {
  display: flex;
  justify-content: space-between;
  /* height: 360px; */
  /* border: 1px solid red; */
}
.create-msg {
  margin: 90px auto;
  width: 80%;
  font-size: 25px;
  padding: 10px;
  /* background-color: #dc3545; */
  border: 1px solid red;
}
.createAd-nav {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.createAd-nav a {
  width: 100%;
  height: fit-content;
  text-align: left;
  color: #0f3466 !important;
  /* border: 1px solid rgb(137, 86, 226); */
}
.createAd-nav a:hover {
  color: #397eff !important;
}
.createAd-nav a:focus {
  color: #397eff !important;
  font-weight: bold;
}
.create-steps-box {
  width: 83%;
  padding: 0 10px;
  /* border: 1px solid red; */
}

.create-steps-box .form-label {
  font-size: 16px !important;
  font-weight: normal;
}
.create-steps-box .form-control {
  border: 1px solid #6ea2f0 !important;
}
.create-steps-box .form-control:focus {
  border: 1px solid #0d6efd !important;
}
.createAd-flex {
  display: flex;
  justify-content: space-between;
}
.createAd-flex div {
  width: 49%;
}
.createAd-textarea {
  font-size: 13px;
}
/* 
.imagesAd-container {
  border: 1px solid green;
} */

.imagesAd-container input {
  background-color: #397eff;
  color: white;
  padding: 12px 20px;
  margin-top: -10px;
  cursor: pointer;
  border-radius: 4px;
}

.imagesAd-box .imagesAd-msg {
  font-size: 3vw;
  margin: 75px auto;
}
.imagesAd-box {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-height: 300px;
  overflow: hidden;
  /* border: 1px solid green; */
}

.imagesAd {
  width: 32%;
  height: 140px;
}

.form-save {
  height: 298px;
  position: relative;
}

.form-save button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw !important;
  height: 5vw !important;
  font-size: 2vw;
}
