.about-sec {
  margin: auto;
  margin-top: -2rem;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}

.about-website,
.about-howUse {
  /* border: 1px solid red; */
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); */
  padding: 20px 50px;
  margin: 10px 0;
}

.about-website h3,
.about-howUse h3 {
  font-size: 20px;
  font-weight: bolder;
  color: #0d6efd;
  padding-bottom: 15px;
  margin-left: -15px;
  margin-top: 50px;
  text-decoration: underline;
  letter-spacing: 3px;
}
.about-website p {
  font-size: 15px;
  line-height: 2;
  color: rgb(85, 84, 84);
}

.about-howUse ul {
  padding: 0;
  position: relative;
  list-style: none;
  /* border: 1px solid red; */
}

.about-howUse ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 14px;
  width: 2px;
  height: 70%;
  background-color: #0d6efd;
  z-index: -1;
}

.about-howUse ul li {
  font-size: 17px;
  font-weight: bolder;
  text-transform: capitalize;
  color: #0d6efd;
  /* border: 1px solid red; */
}

.about-howUse ul li span {
  background-color: #fff;
  border: 1px solid #0d6efd;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: #0d6efd;
}

.about-howUse ul li p {
  font-size: 14px;
  color: gray;
  font-weight: lighter;
  margin: 0px 20px 10px 40px;
  text-transform: lowercase;
}

.about-howUse button {
  background-color: #0d6efd;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
}

.about-howUse button:hover {
  color: #fff !important;
  background-color: rgb(43, 130, 245) !important;
}
.about-img {
  height: auto;
}

.about-img img {
  width: 100%;
  height: 100%;
}
